<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickets</title>
</head>
<body>
    <h1>Test Tickets</h1>
    <div>
        <a href="/tickets/new">Create Ticket</a>
    </div>
    <ul>
        <% for (let ticket of tickets) {%>
            <li><a href="/tickets/<%= ticket._id%>"><%= ticket.subject%></a></li>
        <% }%>
    </ul>
    
</body>
</html>